h1{
    text-align: center;
}
.text{
    text-align: center;
}
.form-container{
    display:block;
    height: 280px;
    width: 400px;
    margin: 0 auto;
    padding: 5% 0;
    border: 5px solid blueviolet;
}