<!DOCTYPE <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles_login.css' %}">
    </head>
    <body style="background-image: url({% static 'loginImg.jpg' %}); background-repeat: no-repeat; background-size: cover">
        <h1>LOGIN OR SIGNUP</h1>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <br><br>
        <form class="container" method="post" action="/login">
            {% csrf_token %}
            <div class="elements">
                <div class="form-inputs">
                    <label for="username"><strong>Username:</strong></label>
                    <input type="text" id="username" name="username"><br>
                </div>
                <div class="form-inputs">
                    <label class="tags" for="password"><strong>Password:</strong></label>
                    <input type="text" id="password" name="password"><br>
                    <br><br>
                </div>
                <div class="button">
                    <button type="submit" value="Submit">SIGNIN</button><br><br>
                </div>
                <div class="otherchoice">
                    Or<br><br>
                    <a href="/register">Register</a>
                </div>
            </div>
        </form>        
        <script src="" async defer></script>
    </body>
</html>