<!DOCTYPE <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles_payment.css' %}">
    </head>
    <body>
           <br><br><br><br>
           <form class="form-container">
           <div class="text">
               <h1>Pay now {{amount}}</h1>
           </div>
           <div id="paypal-button-container"></div>
           </form>
    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AUGjJ6ON9tjOvsfQSV4oNSBrdZluEWWM2dc_bTO0IlB_lPTw7kYfQ00Jh3DqjjVp1KCs79bD-4M_9s4d&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{amount}}'
                        }
                    }]

                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    //alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                    window.location.href = "{% url 'success' %}"
                    // Replace the above to show a success message within this page, e.g.
                    //const element = document.getElementById('paypal-button-container');
                    //element.innerHTML = '';
                    //element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  
                    //actions.redirect('success.html');
                });
            },
            onCancel: function(data, actions) {
                window.location.href = "{% url 'cancel' %}"
            }

        }).render('#paypal-button-container');
    </script>

    </body>
</html>

